# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/

# Node
node_modules/

# OS
.DS_Store

# Logs
*.log

# Data and artifacts
New Folder With Items/*.zip
uploads/
data/
processed/
raw_a/
raw_b/
experiments/
models/*.pt
models/*.pth
!models/bisenet_face_parsing.pth

# Jupyter
.ipynb_checkpoints/
